[Unit]
Description=gunicorn daemon for ai-data-cleaner
After=network.target

[Service]
User=info_safalpoudel
Group=www-data
WorkingDirectory=/var/www/ai-data-cleaner
ExecStart=/var/www/ai-data-cleaner/env/bin/gunicorn --workers 3 --bind unix:/run/gunicorn.sock aicleaner.wsgi:application

[Install]
WantedBy=multi-user.target
